.info {
    position: relative;
    padding: var(--spacing-6);
}

.info__details {
    gap: var(--spacing-4);
}

.info__title {
    text-transform: uppercase;
}

.info__accordion-wrapper {
    border-top: var(--color-light) 1px solid;
}

@media screen and (max-width: 480px) {
    .info {
        padding: var(--spacing-5);
    }
}

.info__accordion-wrapper a {
    text-decoration: underline;
}
