.info {
    position: relative;
    padding: 40px;
}

.info__details {
    gap: var(--spacing-4);
}

.info__title {
    text-transform: uppercase;
}

.info__accordion-wrapper {
    border-top: var(--color-light) 1px solid;
}

.info__accordion-container {
    border-top: var(--color-light) 1px solid;
}

@media screen and (max-width: 480px) {
    .info {
        padding: 24px;
    }
}
