.info {
    position: relative;
    padding: var(--spacing-6);
}

.info__details {
    gap: var(--spacing-4);
}

.info__details p {
    font-size: var(--font-size-body);
}
.info__title {
    text-transform: uppercase;
}

.info__accordion-wrapper {
    border-top: var(--color-light) 1px solid;
}

.info__accordion-container {
    border-top: var(--color-light) 1px solid;
}
.accordion__content p {
    font-size: var(--spacing-3);
    line-height: 1.4;
}
.accordion__content ul {
    padding-left: var(--spacing-5);
    list-style: initial;
    line-height: 1.4;
}

.accordion__content ul li {
    line-height: 1.4;
}
