.button {
    text-align: center;
    color: #ffffff;
    font-size: var(--font-size-button);
    font-weight: 300;
    padding: var(--spacing-3) var(--spacing-5);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.button--primary {
    background-color: #000000;
}

.button--primary:hover {
    background-color: hsla(0, 0%, 0%, 0.7);
}

.button--primary:disabled {
    opacity: 0.5;
}

.button--primary:active {
    transform: scale(0.95);
}

.button--secondary {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}

.button--secondary:hover {
    background-color: #000000;
    color: #ffffff;
}

.button--secondary:disabled {
    opacity: 0.5;
}

.button--secondary:active {
    transform: scale(0.95);
}

