.site-header {
    justify-content: space-between;
    margin: 0 auto;
}

.site-header__logo {
    padding: var(--spacing-4) var(--spacing-6);
}

.site-header__logo img {
    height: 100%;
    max-height: 48px;

}



.site-header__nav-link {
    position: relative;
    padding: 0 var(--spacing-4);
}

.site-header__nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: height 0.1s ease;
}

.site-header__nav-expandable {
    position: relative;
}

.site-header__nav-expandable:hover .site-header__dropdown {
    opacity: 1;
    visibility: visible;
}

.site-header__nav-link:hover::after {
    height: var(--spacing-1);
}

.site-header__icons {
    display: flex;
    margin: 0 var(--spacing-4);
}

.site-header__account {
    padding: 0 var(--spacing-4);
}

.site-header__cart {
    padding: 0 var(--spacing-4);
}

.site-header__account--mobile {
    display: none;
}

.site-header__cart--mobile {
    display: none;
}

.side-header__menu-container--mobile {
    display: none;
}

.site-header__menu--mobile {
    padding: 0 var(--spacing-4);
}

.site-header__menu-filler {
    padding: 0 var(--spacing-4);
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 900px) {
	
    .site-header__nav-container {
        display: none;
    }
    .site-header__account--mobile {
        display: block;
    }

    .site-header__account--desktop {
        display: none;
    }

    .site-header__cart--mobile {
        display: block;
    }

    .site-header__cart--desktop {
        display: none;
    }

    .side-header__menu-container--mobile {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .site-header__icons {
        margin: 0 var(--spacing-2);
    }

    .site-header__menu--mobile {
        padding: 0 var(--spacing-2) 0 0;
    }

    .site-header__account {
        padding: 0 var(--spacing-2);
    }

    .site-header__cart {
        padding: 0 var(--spacing-2);
    }

    .site-header__menu-filler {
        padding: 0 var(--spacing-2);
    }
    .site-header__logo {
        padding: var(--spacing-3);
    }

    .site-header__logo img {
        height: 32px;
    }
}
