:root {
    --color-black: #000000;
    --color-dark: #1e1d1f;
    --color-medium: #737373;
    --color-light: #d0d0d0;
    --color-white: #ffffff;

    --color-orange: #cf925a;
    --color-red: #db6767;
    --color-purple: #6d274a;
    --color-blue: #7fbfdb;
    --color-green: #c0dfa1;

    --color-text-default: #000000;
    --color-text-muted: rgba(0, 0, 0, 0.7);
    --color-text-inactive: rgba(0, 0, 0, 0.5);

    --font-family: Arial, sans-serif;

    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-h5: 1.125rem;
    --font-size-h6: 1rem;
    --font-size-body: 0.75rem;
    --font-size-small: 0.75rem;
    --font-size-navigation: 0.75rem;
    --font-size-footer: 0.75rem;
	--font-size-button: 0.875rem;

    --line-height-h1: 1.2;
    --line-height-h2: 1.2;
    --line-height-h3: 1.3;
    --line-height-h4: 1.3;
    --line-height-h5: 1.4;
    --line-height-h6: 1.4;
    --line-height-body: 1.5;
    --line-height-small: 1.5;
    --line-height-navigation: 1.5;
    --line-height-footer: 1.5;
	 --line-height-button: 1.2;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --break-xs: 480px;
    --break-sm: 768px;
    --break-md: 1024px;
    --break-lg: 1200px;
    --break-xl: 1440px;
    --break-xxl: 1600px;

	/* 4, 8, 12, 16, 24, 32, 48, 64, 80, 96  */
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.5rem;
    --spacing-6: 2rem;
    --spacing-7: 3rem;
    --spacing-8: 4rem;
    --spacing-9: 5rem;
    --spacing-10: 6rem;

    --z-index-lowest: -100;
    --z-index-low: -10;
    --z-index-medium: 0;
    --z-index-high: 10;
    --z-index-highest: 100;
}



